.navbar-brand {
    font-size: 2rem; /* Adjust the size as needed */
    color: #000;
}

.bg-black {
    background-color: #3E505B !important;
}

.nav-tabs {
    background-color: #3E505B; 
    border-radius: 0; 
    padding: 5px; 
    margin-top: -1px;
    border-bottom: 2px;
}

.nav-tabs .nav-item {
    margin-bottom: -1px; 
}

.nav-tabs .nav-link {
    color: #000; 
    border: none; 
    border-radius: 5px; 
}

.nav-tabs .nav-link.active {
    background-color: #8AB0AB; 
    color: #23061E;
}

